<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h1 class="masthead-title">
          <a id="title" href="/" title="Home">{{ site.title }}</a>
        </h1>
      </div>

<div id="main">
      {{ content }}
</div>

<div id="sidebar">
  <h3>Categories</h3>
  {% for cat in site.categories %}
    <li>{{ cat[0] }}</li>
{% endfor %}
</div>
      <div class="footer">
 
      </div>
    </div>

  </body>
</html>
