<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h1 class="masthead-title">
          <a id="title" href="/" title="Home">{{ site.title }}</a>
        </h1>
      </div>

<div id="main">
      {{ content }}
</div>

<div id="sidebar">
  <h3>Categories</h3>
<ul>
  {% for cat in site.categories %}
    <li><a href="/category.html#{{cat[0]}}">{{ cat[0] }}</a></li>
  {% endfor %}
</ul>

<h3>Open Source Projects</h3>
<ul>
<li><a href="https://github.com/waseemh/lxc-java)">lxc-java</a> - Java API for LXC (Linux Containers)</li>
<li><a href="https://github.com/waseemh/webdriver-assert">webdriver-assert</a> - JUnit assertions library for Selenium WebDriver 2.0</li>
</ul>
</div>
      <div class="footer">
 
      </div>
    </div>

  </body>
</html>
